:root{
	--bg-1:white;
	--bg-2:rgb(230, 255, 247);
}
body{
    background-color: white;
    margin:0em;
    box-shadow:0px 0px 30px grey;
	overflow:hidden;
}
/*writing*/
h1, p, dl, h3, h4{
    margin: 0em;
}
.writing{
    margin-top:2em;
    margin-bottom:3em;
    color:black; 
    font-size: 1.25em;
    font-family: 'Dosis', sans-serif;
    padding-left:5%;
    padding-right:5%;
    line-height: 200%;
    max-width:48em;
    margin-left:auto;
    margin-right:auto;
}
.writing-with-images{
    display:flex;
    align-items: center;
    padding-left:5%;
    padding-right:5%;
    max-width:60em;
    margin:auto;
}
.float-writing{
    margin-top:2em;
    margin-bottom:3em;
    color:black; 
    font-size: 1.25em;
    font-family: 'Dosis', sans-serif;
    line-height: 200%;
}
.float-image{
	width:20%;
    min-width:9em;
    margin-left:2.5%;
    flex-shrink:0;
}
#graduating-guy{
    margin-left:0;
    margin-right:2.5%;
}
.column-writing{
    display:flex;
    justify-content:space-between;
    max-width:60em;
    width:90%;
    margin:auto;
    padding-right:5%;
    padding-left:5%;
}
.column{
    margin-top:3em;
    width:45%;
    color:black; 
    font-size: 1.25em;
    font-family: 'Dosis', sans-serif;
    line-height:200%;
}
/*top section*/
.top{
    background-color: rgb(33, 214, 196);
    background-image: linear-gradient(to bottom right,rgb(33, 214, 196) , rgb(10, 255, 173)); /* Standard syntax (must be last) */
    margin:0em;
    overflow:auto;
    display:flex;
    align-items: center;
    justify-content:space-between;
	position:sticky;
	top:0em;
	z-index:1;
}
/*header*/
header h1{
    color:white;
    text-align:left;
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    margin-right:3em;
    margin-left:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
/*subtitle*/
.subtitle{
    text-align: center;
    color: black;
    font-size: 1.875em;
    font-family: 'Montserrat', sans-serif;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.subsubtitle{
    padding-left:5%;
    padding-right:5%;
    width:90%;
    max-width:40em;
    margin:auto;
    color: black;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
/*navigation*/
nav{
    margin-right:1em;
	overflow:hidden;
}
nav ul{
    list-style-type: none;
    margin:0em;
    padding:0em;
    text-align:right;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    text-decoration:none;
    padding:0.1em 0.5em;
    color:black; 
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    transition:color 0.5s, background-color 0.5s;
}
nav a:hover{
    color:white;
}
nav a.active{
	color:white;
}
.icon{
	display:none;
}
.icon:active{
	transform:translateY(1px);
}
@keyframes nav-fade{
	from{height:0em;}
	to{height:13.2em;}
}
#to-top{
	display:none;
	width:3em;
    border-radius: 50%;
	position:fixed;
	bottom:1em;
	right:1em;
	z-index:2;
}
#to-top:active{
	transform: translateY(3px);
}
/*loader*/
#loading {
	display:flex;
	width:100%;
	height:100%;
	position:fixed;
	z-index: 3;
	background-color:white;
}

#loading-image {
	width:50px;
	height:50px;
	margin:auto;
	border-radius:50%;
	border:10px solid lightgrey;
	border-top:10px solid cyan;
	z-index: 4;
	animation: spin 1.5s linear infinite;
}
#loading p{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, 50px);
	z-index:4;
	color:black; 
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    width:70px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 
/*sections within the website*/
.section{
	opacity:0;
    transform: translateY(50px);
    padding-bottom:4em;
    padding-top:4em;
    transition:all ease 1s;
}
.section.is-active{
	opacity:1;
    transform: translateY(0px);
}
@keyframes first-section{
	from{opacity:0;}
	to{opacity:1;}
}
#about-1{
	background-color:var(--bg-1);
    text-align:left;
    color:black;
    font-family:'Dosis', sans-serif;
    margin:0em;
    animation-name: first-section;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#about-1 h1, #about-1 h3{
    line-height:200%;
}
#about-1 .float-writing{
	margin:0em;
}
#about-1 .writing-with-images{
	justify-content:center;
}
#about-1 h1{
    font-size:2.5em;
}
#about-1 h3{
    font-size:1.5em;
}
/*picture of me within about-1*/
#about-2{
	background-color:var(--bg-2);
    padding-top:2em;
}
#about-3{
	background-color:var(--bg-1);
}
#about-4{
	background-color:var(--bg-2);;
}
#about-5{
    background-color:var(--bg-1);
}
#about-6{
	background-color:var(--bg-2);;
}
#academics-1{
    background-color:var(--bg-1);
    padding-top:2em;
    animation-name: first-section;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#academics-2{
    background-color:var(--bg-2);
}
#piano-1{
    background-color:var(--bg-1);
    padding-top:2em;
    animation-name: first-section;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#piano-2{
    background-color:var(--bg-2);;
}
#piano-2 .subsubtitle{
	text-align: center;
}
#contact-1{
    background-color:var(--bg-1);
    padding-top:2em;
    animation-name: first-section;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/*contact content is too small*/
.writing.toosmall{
    height:55vh;
}
/*link transitions*/
a{
    transition:color 0.5s;
}
a:hover{
    color:red;
}
/*youtube player*/
.iframe{
    display:block;
    max-width:40em;
    max-height:25em;
    width:80%;
    height:50vw;
    margin:auto;
}
/*contact form*/
#contact-form{
    display:flex;
    width:50vw;
    min-width:15em;
    margin:auto;
    font-family: 'Dosis', sans-serif;
}
form, input, textarea{
    width:40vw;
    font-family: 'Dosis', sans-serif;
}
#contact-form ul{
    width:5vw;
    min-width:4em;
    flex-shrink: 0;
    margin:0 5% 0 0;
}
@media screen and (max-width:390px){
	#about-1 h1{
		font-size:1em;
	}
	#about-1 h3{
		font-size:1em;
	}
	#about-2 .subtitle{
		padding-bottom:2em;
	}
}
@media screen and (max-width:530px){
	.top{
        flex-direction: column;
		position:static;
		align-items:flex-start;
    }
    header h1{
        text-align:left;
		font-size:2em;
		margin-right:1em;
    }
	body{
        margin:0em !important;
    }
	.icon{
		display:block;
		width:2em;
		position:absolute;
		top:1.3em;
		right:1em;
	}
	.link-class a{
		display:none;
	}
	.link-class.mobile{
		animation:nav-fade 1s ease;
	}
	.link-class.mobile a{
		display:block;
		text-align:left;
		font-size:1.5em;
		padding-top:0.5em;
		padding-bottom:0.5em;
		width:100%;
		background-color: rgb(35, 235, 215);
		border-style:solid;
		border-width:1px 0px 0px 0px;
		border-color: white;
	}
	header h1{
		text-align:left;
	}
	nav{
		margin-right:0em;
		min-width: 100%;
	}
}
@media screen and (max-width:530px){
	.float-image{
		display:none;	
	}
	.float-writing{
		max-width:95%;
	}
	#about-1 h1, #about-1 h3{
		text-align:center;
		padding-left:0em;	
	}
	#about-1 h1{
		font-size:1.5em;	
	}
	#about-1 h3{
		font-size:1em;
		line-height:150%;
		font-weight:normal;	
	}
    .column-writing{
        flex-direction:column;
    }
    .column{
        width:95%;
    }
}
@media screen and (max-width:650px) and (min-width:530px){
	#about-1 h1{
		font-size:1.5em;
		text-align:center;	
	}
	#about-1 h3{
		font-size:1em;
		line-height:150%;
		font-weight:normal;
		text-align:center;	
	}
    .column-writing{
        flex-direction:column;
    }
    .column{
        width:95%;
    }
	.float-image{
		display:none;	
	}
}
@media screen and (max-width:870px){
    #about-1 h3{
    	font-size:1.25em;
    }
}
@media screen and (max-width:1024px) and (min-width:530px){
    .top{
        flex-direction: column;
		position:static;
    }
    header h1{
        text-align:center;
        margin-right:0em;
        margin-left:0em;
    }
    nav ul{
        text-align:center;
    }
    nav{
        margin:0em;
    }
    body{
    	margin:0em !important;
    }
}
@media screen and (max-width:975px) and (min-width:871px){
    #about-1 h1, #about-1 h3{
        max-width:30em;
		padding-left:0em;
		padding-right:0em;
    }
}
